body {
  font-family: "Jaldi", sans-serif;
  margin: 0;
  padding: 0;
  background: #87CEFA;
  color: white;
  text-align: center;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  width: 375px;
  height: 700px;
  background: linear-gradient(to bottom, #87CEFA, #4682B4);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
  overflow-y: auto;
}


.sun-image {
  width: 30px; 
  height: 30px; 
}

.hour img {
  width: 50px; 
  height: 55px; 
  object-fit: contain; 
  display: block; 
  margin: 0 auto; 
}
